header {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    position: absolute;
    border: 1px;
    width: 142px;
    height: 60px;
    background-image: url("/Images/logo.png");
    left: 20px;
}